.hero-container {
  height: 100vh;
  border: 5px solid black;
  color: var(--primary-color);
  font-family: Michroma;
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
}

.hero-container .top-edge-typography {
  border-bottom: 5px solid black;
  width: 98.56vw;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 1.1vw;
  letter-spacing: .15em;
  height: 5vh;
  min-height: 42.2px;
}

.hero-container .top-edge-typography .top-quotebox {
  margin: auto;
  padding-right: 1vw;
  height: 100%;
}

.hero-container .top-edge-typography .top-quotebox .quote-tag {
  margin: 1% 0 0 0;
  text-align: center;
}

.hero-container .top-edge-typography .top-nametag-box {
  border-left: 5px solid black;
}

.hero-container .top-edge-typography .top-nametag-box .name-tag {
  width: 20vw;
  text-align: center;
  margin: 3% 0 0 0;
}

.hero-container .heroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.hero-container .heroContent .hero-left {
  height: 94.5vh;
  width: 60vw;
  border-right: 5px solid black;
  display: -ms-grid;
  display: grid;
}

.hero-container .heroContent .hero-left .hero-left-top {
  height: 65%;
}

.hero-container .heroContent .hero-left .hero-left-top .hero-name {
  margin: 15vh 0 8vh 0;
  padding: 0;
  font-family: subway-new-york-sc, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13vw;
  text-align: center;
  letter-spacing: .05em;
  line-height: .7em;
  color: black;
}

.hero-container .heroContent .hero-left .hero-left-top .hero-subheading {
  margin: 0;
  padding: 0;
  letter-spacing: .15em;
  font-size: 2.5vw;
  text-align: center;
  text-transform: uppercase;
}

.hero-container .heroContent .hero-left .hero-left-bottom {
  height: 35%;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-container .heroContent .hero-left .hero-left-bottom .node-img {
  max-height: 172px;
  margin: 0 auto;
  position: relative;
}

.hero-container .heroContent .hero-left .hero-left-bottom .react-img {
  max-width: 200px;
  max-height: 200px;
  margin: -4vh auto;
}

.hero-container .heroContent .hero-left .hero-left-bottom .vercel-img {
  max-height: 205px;
  max-width: 308px;
  margin: -4vh auto;
  padding: 0;
}

.hero-container .heroContent .hero-right {
  height: 94.5vh;
  width: 38.2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hero-container .heroContent .hero-right .monitor-container {
  height: 65%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: auto;
}

.hero-container .heroContent .hero-right .monitor-container img {
  width: 100%;
  height: 100%;
}

.hero-container .heroContent .hero-right .hero-right-button-container {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.hero-container .heroContent .hero-right .hero-right-button-container .cta-hero-right {
  margin: 0 auto 1vw auto;
  background-color: var(--primary-color);
  border: 1px white solid;
  width: 40%;
  height: 30%;
  color: white;
  font-family: Michroma;
  font-size: 1.5vw;
  letter-spacing: .15em;
  text-transform: uppercase;
  -webkit-box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5);
}

.hero-container .heroContent .hero-right .hero-right-button-container .cta-hero-right-subtext {
  font-size: 1.4vw;
  letter-spacing: .15em;
}

@media only screen and (max-width: 1249px) and (min-width: 413px) {
  .hero-container {
    width: 100vw;
  }
  .hero-container .top-edge-typography {
    display: none;
  }
  .hero-container .heroContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 70% 30%;
        grid-template-rows: 70% 30%;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .hero-container .heroContent .hero-left {
    height: 70vh;
    width: 100%;
    border-right: 0px;
  }
  .hero-container .heroContent .hero-left .hero-left-top .hero-name {
    width: 80%;
    font-size: 25vmin;
    margin: 15vh auto 4vw auto;
  }
  .hero-container .heroContent .hero-left .hero-left-top .hero-subheading {
    font-size: 3vmin;
  }
  .hero-container .heroContent .hero-left .hero-left-bottom {
    display: none;
  }
  .hero-container .heroContent .hero-right {
    width: 100%;
    height: 100%;
    margin: none;
  }
  .hero-container .heroContent .hero-right .monitor-container {
    display: none;
  }
  .hero-container .heroContent .hero-right .hero-right-button-container {
    height: 100%;
    width: 100%;
  }
  .hero-container .heroContent .hero-right .hero-right-button-container .cta-hero-right {
    font-size: 3.5vmin;
  }
  .hero-container .heroContent .hero-right .hero-right-button-container .cta-hero-right-subtext {
    font-size: 2vmin;
  }
}

@media only screen and (max-width: 412px) {
  .hero-container {
    width: 100vw;
  }
  .hero-container .top-edge-typography {
    display: none;
  }
  .hero-container .heroContent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 70% 30%;
        grid-template-rows: 70% 30%;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .hero-container .heroContent .hero-left {
    height: 70vh;
    width: 100%;
    border-right: 0px;
  }
  .hero-container .heroContent .hero-left .hero-left-top .hero-name {
    width: 80%;
    font-size: calc(125px - 1vw);
    margin: 15vh auto 4vw auto;
  }
  .hero-container .heroContent .hero-left .hero-left-top .hero-subheading {
    font-size: 4vw;
  }
  .hero-container .heroContent .hero-left .hero-left-bottom {
    display: none;
  }
  .hero-container .heroContent .hero-right {
    width: 100%;
    height: 100%;
    margin: none;
  }
  .hero-container .heroContent .hero-right .monitor-container {
    display: none;
  }
  .hero-container .heroContent .hero-right .hero-right-button-container {
    height: 100%;
    width: 100%;
  }
  .hero-container .heroContent .hero-right .hero-right-button-container .cta-hero-right {
    font-size: 3.5vw;
  }
  .hero-container .heroContent .hero-right .hero-right-button-container .cta-hero-right-subtext {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=HeroSection.css.map */