
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.portfolio-container {
    height: 100vh;
    min-height: 750px;
    // background-color: tan;
    font-family: Michroma;
    border-bottom: solid black 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 80% 20%;

    .portfolio-header {
        text-transform: uppercase;
        margin: auto auto auto 3vw;
        padding: 0;
        color: var(--primary-color);
        font-size: 5.5em;
        font-weight: normal;
        letter-spacing: .1em;
        text-shadow:7px 8px rgba(0, 0, 0, 0.137);
    }

    .portfolio-content-container {
        margin: auto;
        width: 95%;
        height: 80%;
        // background-color: chocolate;
        display: flex;
        

        .portfolio-left {
            width: 40%;
            height: 100%;
            
            // background-color: aqua;

            .portfolio-projects-header {
                color: var(--primary-color);
                text-align: center;
            }

            .project-list-container {
                margin: 4vh auto 0 auto;                
                width: 80%;
                height: 55%;
                // background-color: grey;
                ul {
                    font-size: 1vw;
                    list-style: none;
                    display: grid;
                    grid-template-columns: 48.5% 48.5%;
                    grid-template-rows: 55% 55%;
                    grid-column-gap: 1.3vw;
                    grid-row-gap: .5vw;
                    height: 75%;
                    width: 100%;

                }
            }
            .contact-me-cta {
                margin: auto;
                text-align: center;
                font-size: 1.2vw;


                .portfolio-contactme-wordhype{
                    color: var(--primary-color);
                }

            }

            img {
                width: 50%;
                height: 30%;
                margin-left: 25%;
            }
        }

        .portfolio-right {
            width: 60%;
            height: 100%;
            // background-color: green;
            
            .portfolio-preview-container {
                height: 65%;
                

                .preview-image {
                    margin: 0 10% 0 0%;
                    height: 100%;
                    width: 90%; 
                }
            }

            .site-des-container {
                margin-top: 5%;
                padding:1vw;
                height: 30%;
                border: solid black 3px;
                font-size: .75vw;
            }
        }



    }







}