


*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    //background-color: yellow;
    //min-height: 750px;
    font-family: Michroma;
    


    .contact-header {
        text-transform: uppercase;
        margin: auto auto auto 3vw;
        padding: 0;
        color: var(--primary-color);
        font-size: calc(var(--vh, 1vh) * 10);
        font-weight: normal;
        letter-spacing: .1em;
        text-shadow:7px 8px rgba(0, 0, 0, 0.137);
    }

    .contact-content-container {
      display: grid;
      grid-template-columns: 45vw 55vw;
      grid-template-rows: 80%;
      overflow: hidden;
      height: 80%;
      margin: auto;


      .contact-left {
        height: 100%;
        width: 100%;
        // background-color: aqua;



        
        .contact-form-container {
         // background-color: orange;


          .contact-form-top {
            font-size: calc(20px - 0.1vh - .1vw);
            background-color: rgba(128, 128, 128, 0.498);
            width: 60%;
            height: 70%;
            margin: 5vh auto 0 auto;
            margin: calc(var(--vh, 1vh) * 5) auto 0 auto;
            border: black 3px solid;
            padding: 1%;
            // font-size: calc(14px + .2vmax);
            .name-input {
              width: 100%;
              height: 10%;
              margin: 5% auto;
              font-size: calc(27px + .2vmax);
            }
            .email-input {
              height: 10%;
              width: 100%;
              
              margin: 5% auto;
            }

            .contact-radio-buttons {
              margin: 6% auto;
              border: none;

              input {
                margin: 3% auto;
                font-size: calc(14px + .2vmax);
                accent-color: var(--primary-color);
              
              }
              

              .contact-option-label {
                margin: auto 2%;
              }
            }
          }          
          .contact-form-bottom {
            //background-color: gray;

            input {
              margin: 2% 35% 0 35%;
              width: 30%;
              height: 6vh;
              height: calc(var(--vh, 1vh) * 6);
              font-family: Michroma;
              font-weight: 500;
              font-size: calc(14px + .2vmax);
              letter-spacing: .15em;
              color: white;
              background-color: var(--primary-color);
              border: white 1px solid;
              text-transform: uppercase;
              
            }

            input:hover {
              color: var(--primary-color);
              background-color: white;
              border: var(--primary-color) 1px solid;
            }
          
          }
        }
      }

      .contact-right {
        height: 100%;
        width: 100%;

        img {
          height: 130%;
          // margin: 0 0 5% 0;
          position: relative;
          // right: -5%;
        }

      }
    }
}



@media only screen and (max-width: 1249px) {

  .contact-container {

    background-image: url('../../Assets/world.png');
    background-repeat: no-repeat;
    background-position: 0 220px;

    .contact-header {
      margin: 0 auto 8vh 3vw;
      margin: 0 auto calc(var(--vh, 1vh) * 8) 3vw;
      font-size: 9vmin;

    }

    .contact-content-container {
      display: grid;
      grid-template-columns: 90vw;
      grid-template-rows: 80%;
      overflow: hidden;
      // height: 80%;
      margin: 0px 0px 0px 5%; 
      

      .contact-left {
        
        // background-color: pink;
        .contact-form-container {
          margin: 0px 0px 0px 0px;
          padding: 0px;
          // background-color: orange;
          height: 100%;
          
          form {
            height: 100%;
            
            .contact-form-top {
              background-color: rgba(128, 128, 128, 0.798);
              margin: 0px auto;
              width: calc(403px + 6vmax);
              height: 85%;
              
              
            }

            .contact-form-bottom {
              width: 100%;
              height: 15%;


              input {
                
                display: block;
                margin: 1vh auto;
                margin: calc(var(--vh, 1vh) * 1) auto;
                width: calc(403px + 6vmax);
                
              }
            }            
          }


        }

      }

      .contact-right {
        display: none;
      }

    }



  }


}

@media only screen and (max-width:500px) {

  .contact-container {
      .contact-header {
        margin: 0 auto 8vh 3vw;
        margin: 0 auto calc(var(--vh, 1vh) * 8) 3vw;
        font-size: 12vmin;
      }
    .contact-content-container {
      .contact-left {
        .contact-form-container{
          form{
            .contact-form-top{
              width: 100%;
              font-size: calc(16px - 0.1vh - .1vw);
            }
            .contact-form-bottom{
              input {
                width: 100%;
              }
            }
          }
        }
      }
    }


  }

}


