


*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
    height: 100vh;
    //background-color: yellow;
    min-height: 750px;
    font-family: Michroma;
    


    .contact-header {
        text-transform: uppercase;
        margin: auto auto auto 3vw;
        padding: 0;
        color: var(--primary-color);
        font-size: 5.5em;
        font-weight: normal;
        letter-spacing: .1em;
        text-shadow:7px 8px rgba(0, 0, 0, 0.137);
    }

    .contact-content-container {
      display: grid;
      grid-template-columns: 40vw 60vw;
      grid-template-rows: 80%;
      overflow: hidden;


      .contact-left {
        height: 100%;
        width: 100%;
        background-color: aqua;
        .contact-form-container {
          background-color: blueviolet;
          width: 60%;
          height: 70%;
          margin: 5vh auto 0 auto;
          border: black 3px solid;
        }
      }

      .contact-right {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          position: relative;
          right: -10%;
        }

      }
    }
}