*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-container.isClosed {
  right: 0;
  margin: auto .5%;
  top: 15%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: calc(85px + 1vw);
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
}

.navbar-container.isClosed .nav-icon-closed {
  height: 100%;
  width: calc(85px + 1vw);
  margin-right: 0px;
}

.navbar-container.isClosed .nav-icon-closed .open {
  margin-left: 20%;
  height: 100%;
  width: auto;
}

.navbar-container.isClosed .nav-icon-closed .open:hover {
  height: 110%;
}

.navbar-container.isClosed .not-visible {
  display: none;
}

.navbar-container.isOpen {
  right: 0;
  margin: auto 0;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 45vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: black;
}

.navbar-container.isOpen .nav-icon-open {
  height: 10%;
  width: calc(85px + 1vw);
  margin-left: 35vw;
}

.navbar-container.isOpen .nav-icon-open .close {
  margin-right: 20%;
  height: 100%;
  width: 10vw;
  color: var(--primary-color);
}

.navbar-container.isOpen .nav-icon-open .close:hover {
  height: 110%;
  color: white;
}

.navbar-container.isOpen .not-visible {
  display: none;
}

.navbar-container.isOpen .drawer {
  position: absolute;
  margin: 25vh 10% auto 10%;
  margin: calc(var(--vh, 1vh) * 25) 10% auto 10%;
  height: 70%;
  height: calc(var(--vh, 1vh) * 70);
  text-align: center;
  width: 80%;
  display: block;
}

.navbar-container.isOpen .drawer .menu-options {
  list-style: none;
  height: 80%;
  padding: 10% auto 5% auto;
}

.navbar-container.isOpen .drawer .menu-options .menu-item {
  margin: 5% auto;
}

.navbar-container.isOpen .drawer .menu-options .menu-item .link {
  font-size: calc(18px + .4vmax);
  font-family: Michroma;
  text-decoration: none;
  color: white;
}

.navbar-container.isOpen .drawer .menu-options .menu-item:hover .link {
  color: var(--primary-color);
}

.navbar-container.isOpen .drawer .social-links {
  height: 20%;
}

.navbar-container.isOpen .drawer .social-links .text {
  font-size: calc(14px + .2vmax);
  font-family: Michroma;
  text-decoration: none;
  color: white;
}

.navbar-container.isOpen .drawer .social-links a .linkedin {
  height: 40%;
  width: auto;
  color: white;
}

.navbar-container.isOpen .drawer .social-links a .github {
  height: 40%;
  width: auto;
  color: white;
}

.navbar-container.isOpen .drawer .social-links a .fiverr {
  margin-left: .5rem;
  height: 40%;
  width: auto;
  color: white;
}

.navbar-container.isOpen .drawer .social-links a .linkedin:hover {
  height: 42%;
  width: auto;
  color: var(--primary-color);
}

.navbar-container.isOpen .drawer .social-links a .github:hover {
  height: 42%;
  width: auto;
  color: var(--primary-color);
}

.navbar-container.isOpen .drawer .social-links a .fiverr:hover {
  height: 42%;
  width: auto;
  color: var(--primary-color);
}

.navbar-container.not-visible {
  display: none;
}
/*# sourceMappingURL=Navbar.css.map */