

$font-family: 'Michroma';
$delay: .5s;

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.aboutme-container {
    height: 100vh;
    // min-height: 760px;
    background-color: rgba(103, 186, 67, 0.384);
    font-family: Michroma;
    background-image: url("../../Assets/self.png");
    background-repeat:no-repeat;
    background-position-x: 90%;
    background-position-y: 30%;
    background-size: 50%;
    border-bottom: solid black 5px;
    


    
    .aboutme-header {
        text-transform: uppercase;
        margin: auto auto auto 3vw;
        padding: 0;
        color: white;
        font-size: 5.5em;
        font-weight: normal;
        letter-spacing: .1em;
        text-shadow:1vmin 1vmin rgba(0, 0, 0, 0.137);
    }

    .aboutme-content-conatiner {
        //min-height: 604px;
        // background-color: #c0392b;
        display: grid;
        grid-template-columns: 80vw 20vw;
        grid-template-rows: 75vh;
        padding: 0;
        margin: 0;
        


        .aboutme-left {
            
            
            // min-height: 604px;
            // background-color: aqua;
            width: 75vw;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-column-gap: 1vw;
            grid-row-gap: 1vw;
            margin-left: 3vw;
            padding: 0;
            font-size: 1.8vmin;
            font-weight: bold;
            
            .aboutme-skills {
                                
                height: 100%;
                width: 100%;
                background-color: orchid;
                // overflow: hidden;
                position: relative;

                .window-background-img {
                    width: 100%;
                    height: 100%;                
                }

                .aboutme-skills-subheader.languages {
                    font-size: 120%;
                    top: 15%;
                    left:40%;
                    // background-color: magenta;
                    color: var(--primary-color);
                    position: absolute;
                }

                .aboutme-languages-list{
                    list-style: none;
                    top: 25%;
                    left: 5%;
                    position: absolute;
                    margin-bottom: -3vh;

                    .aboutme-listitem.java {
                        width: 35vw;
                        

                        .progressbar-title {
                            width: 35vw;
                            // background-color: #1199ff;
                            display: flex;
                            justify-content: space-between;
                            
                            h4 {
                                
                                width:20%;
                            }
                            
                            h5 {
                                padding: 1%;
                                margin-right: 2%;
                            }

                            .percent {
                                margin: 1% 0 0 0;
                                height: 1vw;
                                width: 27vw;
                                // padding-top: 2%;
                                // background-color: #3c2279;

                                .value {
                                    height: 100%;
                                    width: 1%;
                                    background-color: #27ae60; 
                                    transition: width 2s linear;
                                    transition-delay: $delay;
                                }

                                .value.animated{
                                    width: 85%;
                                }
                                .value:hover{
                                    background-color: gold;
                                }
                            }
                        }

                            
                    }

                    .aboutme-listitem.js {
                        width: 35vw;
                        

                        .progressbar-title {
                            width: 35vw;
                            // background-color: #1199ff;
                            display: flex;
                            justify-content: space-between;
                            
                            h4 {
                                width:20%;
                                
                            }
                            
                            h5 {
                                padding: 1%; 
                                margin-right: 2%;
                            }

                            .percent {
                                margin: 1% 0 0 0;
                                height: 1vw;
                                width: 27vw;
                                // padding-top: 2%;
                                // background-color: #3c2279;

                                .value {
                                    height: 100%;
                                    width: 1%;
                                    background-color: #27ae60; 
                                    transition: width 2s linear;
                                    transition-delay: $delay;
                                }

                                .value.animated{
                                    width: 90%;
                                }
                                .value:hover{
                                    background-color: gold;
                                }
                            }
                        }

                            
                    }

                    .aboutme-listitem.python {
                        width: 35vw;
                        

                        .progressbar-title {
                            width: 35vw;
                            // background-color: #1199ff;
                            display: flex;
                            justify-content: space-between;
                            
                            h4 {
                                width:20%;
                                // margin-right: 6%;
                            }
                            
                            h5 {
                                padding: 1%; 
                                margin-right: 2%;
                            }

                            .percent {
                                margin: 1% 0 0 0;
                                height: 1vw;
                                width: 27vw;
                                // padding-top: 2%;
                                // background-color: #3c2279;

                                .value {
                                    height: 100%;
                                    width: 1%;
                                    background-color: #27ae60; 
                                    transition: width 2s linear;
                                    transition-delay: $delay;
                                }

                                .value.animated{
                                    width: 80%;
                                }
                                .value:hover{
                                    background-color: gold;
                                }
                            }
                        }

                            
                    }

                    .aboutme-listitem.html {
                        width: 35vw;
                        

                        .progressbar-title {
                            width: 35vw;
                            // background-color: #1199ff;
                            display: flex;
                            justify-content: space-between;
                            
                            h4 {
                                width:20%;
                                // margin-right: 7%;
                            }
                            
                            h5 {
                                padding: 1%; 
                                margin-right: 2%;
                            }

                            .percent {
                                margin: 1% 0 0 0;
                                height: 1vw;
                                width: 27vw;
                                // padding-top: 2%;
                                // background-color: #3c2279;

                                .value {
                                    height: 100%;
                                    width: 1%;
                                    background-color: #27ae60; 
                                    transition: width 2s linear;
                                    transition-delay: $delay;
                                }

                                .value.animated{
                                    width: 90%;
                                }
                                .value:hover{
                                    background-color: gold;
                                }
                            }
                        }
         
                    }

                    .aboutme-listitem.css {
                        width: 35vw;
                        

                        .progressbar-title {
                            width: 35vw;
                            // background-color: #1199ff;
                            display: flex;
                            justify-content: space-between;
                            
                            h4 {
                                width:20%;
                                // margin-right: 7%;
                            }
                            
                            h5 {
                                padding: 1%; 
                                margin-right: 2%;
                            }

                            .percent {
                                margin: 1% 0 0 0;
                                height: 1vw;
                                width: 27vw;
                                // padding-top: 2%;
                                // background-color: #3c2279;

                                .value {
                                    height: 100%;
                                    width: 1%;
                                    background-color: #27ae60; 
                                    transition: width 2s linear;
                                    transition-delay: $delay;
                                }

                                .value.animated{
                                    width: 85%;
                                }
                                .value:hover{
                                    background-color: gold;
                                }
                            }
                        }
                            
                    }

                    .aboutme-listitem.php {
                        width: 35vw;
                        

                        .progressbar-title {
                            width: 35vw;
                            // background-color: #1199ff;
                            display: flex;
                            justify-content: space-between;
                            
                            h4 {
                                width:20%;
                                // margin-right: 7%;
                            }
                            
                            h5 {
                                padding: 1%; 
                                margin-right: 2%;
                            }

                            .percent {
                                margin: 1% 0 0 0;
                                height: 1vw;
                                width: 27vw;
                                // padding-top: 2%;
                                // background-color: #3c2279;

                                .value {
                                    height: 100%;
                                    width: 1%;
                                    background-color: #27ae60; 
                                    transition: width 2s linear;
                                    transition-delay: $delay;
                                }

                                .value.animated{
                                    width: 70%;
                                }

                                .value:hover{
                                    background-color: gold;
                                }
                            }
                        }
                            
                    }

                }

            }
            .aboutme-holder {
                height: 100%;
                width: 100%;
                background-color: transparent;
            }

            .aboutme-interest {
                //font-size: 90%;
                height: 100%;
                width: 100%;
                background-color: orchid;
                position: relative;
                
                .window-background-img {
                    width: 100%;
                    height: 100%;
                }

                .aboutme-skills-subheader.interest {
                    font-size: 120%;
                    color: var(--primary-color);
                    top: 12%;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    
                }


                .interest-list {
                    
                    padding-right: 10%;
                    top: 20%;
                    left: 10%;
                    position: absolute;
                }

            }

            .aboutme-summary {
               // font-size: 90%;                
                height: 100%;
                width: 100%;
                //background-color: orchid;
                overflow: hidden;
                position: relative;

                .window-background-img {
                    width: 100%;
                    height: 100%;
                    // display: none;
                
                }

                .aboutme-skills-subheader.summary {
                    font-size: 120%;
                    color: var(--primary-color);
                    top: 12%;
                    width: 100%;
                    text-align: center;
                    position: absolute;

                }
                
                .aboutme-summary-p {
                    top: 20%;
                    left: 4%;
                    position: absolute;
                    width: 90%;

                    .aboutme-summary-wordhype {
                        color: var(--primary-color);
                    }


                }




            }

        }
                

        .aboutme-right {
            
            //min-height: 604px;
            // background-color: purple;
            position: relative;


            .aboutme-folder-container{
                justify-content: center;
                width: 100%;
                height: 50%;
                // background-color: GREEN;
                bottom: 5%; 
                position: absolute;
                display: flex;
                align-items: center;
                flex-direction: column;
                
                
                

                .aboutme-foldericon {
                    height: 70%;
                    // background-color: yellow;
                    margin: auto;
                }

                .folder-cap {
                    font-size: 1.5vmin;
                    font-weight: bold;
                    margin: -10% auto 0 auto;
                    
                }



                .aboutme-download-button {
                    margin: auto 10% 0px 0px;

                    background-color:white;
                    border:1px white solid;

                    width:90%;
                    height: 12vh;
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    color: black;
                    font-family:Michroma;

                    font-size: 1.5vw;
                    letter-spacing: .15em;

                    text-transform: uppercase;
                    box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5);
                }

                .aboutme-download-button:hover {
                    background-color: var(--primary-color);
                    a {
                     color: white;   
                    }
                    
                }



            }

                
        }

        }

        
}


@media only screen and (max-width: 1249px) {

    .aboutme-container {
        width: 100vw;
        background-position-x: 50%;
        background-position-y: 30%;
        background-size: calc(750px - 5vw);
        border-bottom: solid black 5px;
    

            .aboutme-header {
                font-size: 7.5vmin;
            }


            .aboutme-content-conatiner {
                display: grid;
                width: 100vw;
                height: 75vh;
                grid-template-columns: 90vw;
                grid-template-rows: 75% 25%;
                row-gap: 0;
                column-gap: 0;
                
                padding: 0;
                margin: 0;

                .aboutme-left {
                    grid-template-columns: 110%;
                    grid-template-rows: 40% 60%;
                    grid-column-gap: 1vw;
                    grid-row-gap: 1vw;
                    margin: auto;
                    padding: 0;


                    .aboutme-skills {
                        display: none;
                        
                    }

                    .aboutme-interest {
                        display: none;
                    }


                    .aboutme-summary {
                        font-size: calc(1.2vh + .5vw);
                        height: calc(500px - 18.5vw);
                        width: 100%;

                    }

                    
                }

                .aboutme-right {

                    position:relative;
                    bottom: calc(23.5px + 16vw);
                    right: -45vw;
                    width: 52vw;
                    height: 50vh;

                    .aboutme-folder-container {
                        display: flex;
                        height: calc(277px - 1vw);


                        .aboutme-foldericon {
                            margin: auto 0px 3vh auto;
                            
                        }
                        .folder-cap {
                            font-size: 2.5vmin;
                        }
                        .aboutme-download-button{
                            font-size: calc(10.69px + .8vw);
                            
                        }
                    }

                }

            } 





    }


}

@media only screen and (max-width:500px) {
    .aboutme-container {
        // background-position-x: -12%;
        // background-position-y: 28%;
        background-size: 120%;
        

        .aboutme-header {
            margin: 5vh 1vw 1vh 1vw;
            font-size: 11vmin;
        }

        .aboutme-content-conatiner {
            display: grid;
            width: 100vw;
            height: 80vh;
            grid-template-columns: 100vw;
            grid-template-rows: 90% 10%;
            row-gap: 0;
            column-gap: 0;
            
            padding: 0px;
            margin: 0px;

            .aboutme-left {
                height: 60vh;
                width: 95vw;
                grid-template-columns: 100%;
                grid-template-rows: 25% 75%;
                grid-column-gap: 1vw;
                grid-row-gap: 1vw;
                margin: auto;
                padding: 0;
                // background-color: aqua;

                .aboutme-skills {
                    display: none;
                    
                }

                .aboutme-interest {
                    display: none;
                }


                .aboutme-summary {
                    font-size: calc(4px + 1.2vh + .05vw);
                    height: calc(500px - 30vw);
                    width: 100%;

                }

                
            }

            .aboutme-right {
                position: relative;
                bottom: calc(85.5px + 16vh);
                right: -45vw;
                width: 55vw;
                height: 39vh;

                .aboutme-folder-container {
                    height: calc(220px - 15vw);

                    .aboutme-foldericon {
                        margin: auto auto 2vh auto;
                        size: 50%;
                    }

                }
                .folder-cap {
                    font-size: 2.5vmin;
                }
            }





    }


}

}