*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutme-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(103, 186, 67, 0.384);
  font-family: Michroma;
  background-image: url("../../Assets/self.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 30%;
  background-size: 50%;
  border-bottom: solid black 5px;
}

.aboutme-container .aboutme-header {
  text-transform: uppercase;
  margin: auto auto auto 3vw;
  padding: 0;
  color: white;
  font-size: calc(var(--vh, 1vh) * 10);
  font-weight: normal;
  letter-spacing: .1em;
  text-shadow: 1vmin 1vmin rgba(0, 0, 0, 0.137);
}

.aboutme-container .aboutme-content-conatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80vw 20vw;
      grid-template-columns: 80vw 20vw;
  -ms-grid-rows: 75vh;
      grid-template-rows: 75vh;
  -ms-grid-rows: calc(var(--vh, 1vh) * 75);
      grid-template-rows: calc(var(--vh, 1vh) * 75);
  padding: 0;
  margin: 0;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left {
  width: 75vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  margin-left: 3vw;
  padding: 0;
  font-size: calc(20px - 0.1vh - .1vw);
  font-weight: bold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills {
  height: 100%;
  width: 100%;
  background-color: orchid;
  position: relative;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .window-background-img {
  width: 100%;
  height: 100%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-skills-subheader.languages {
  font-size: 120%;
  top: 15%;
  left: 40%;
  color: var(--primary-color);
  position: absolute;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list {
  list-style: none;
  top: 30%;
  left: 5%;
  position: absolute;
  margin-bottom: -3vh;
  margin-bottom: calc(var(--vh, 1vh) * -3);
  height: 70%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list li {
  height: 14%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java {
  width: 35vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title h4 {
  width: 20%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title h5 {
  padding: 1%;
  margin-right: 2%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title .percent {
  margin: 1% 0 0 0;
  height: 1vw;
  width: 27vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title .percent .value {
  height: 100%;
  width: 1%;
  background-color: #27ae60;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title .percent .value.animated {
  width: 85%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.java .progressbar-title .percent .value:hover {
  background-color: gold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js {
  width: 35vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title h4 {
  width: 20%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title h5 {
  padding: 1%;
  margin-right: 2%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title .percent {
  margin: 1% 0 0 0;
  height: 1vw;
  width: 27vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title .percent .value {
  height: 100%;
  width: 1%;
  background-color: #27ae60;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title .percent .value.animated {
  width: 90%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.js .progressbar-title .percent .value:hover {
  background-color: gold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python {
  width: 35vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title h4 {
  width: 20%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title h5 {
  padding: 1%;
  margin-right: 2%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title .percent {
  margin: 1% 0 0 0;
  height: 1vw;
  width: 27vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title .percent .value {
  height: 100%;
  width: 1%;
  background-color: #27ae60;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title .percent .value.animated {
  width: 80%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.python .progressbar-title .percent .value:hover {
  background-color: gold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html {
  width: 35vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title h4 {
  width: 20%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title h5 {
  padding: 1%;
  margin-right: 2%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title .percent {
  margin: 1% 0 0 0;
  height: 1vw;
  width: 27vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title .percent .value {
  height: 100%;
  width: 1%;
  background-color: #27ae60;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title .percent .value.animated {
  width: 90%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.html .progressbar-title .percent .value:hover {
  background-color: gold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css {
  width: 35vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title h4 {
  width: 20%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title h5 {
  padding: 1%;
  margin-right: 2%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title .percent {
  margin: 1% 0 0 0;
  height: 1vw;
  width: 27vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title .percent .value {
  height: 100%;
  width: 1%;
  background-color: #27ae60;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title .percent .value.animated {
  width: 85%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.css .progressbar-title .percent .value:hover {
  background-color: gold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php {
  width: 35vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title h4 {
  width: 20%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title h5 {
  padding: 1%;
  margin-right: 2%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title .percent {
  margin: 1% 0 0 0;
  height: 1vw;
  width: 27vw;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title .percent .value {
  height: 100%;
  width: 1%;
  background-color: #27ae60;
  -webkit-transition: width 2s linear;
  transition: width 2s linear;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title .percent .value.animated {
  width: 70%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills .aboutme-languages-list .aboutme-listitem.php .progressbar-title .percent .value:hover {
  background-color: gold;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-holder {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest {
  height: 100%;
  width: 100%;
  background-color: orchid;
  position: relative;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest .window-background-img {
  width: 100%;
  height: 100%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest .aboutme-skills-subheader.interest {
  font-size: 120%;
  color: var(--primary-color);
  top: 12%;
  width: 100%;
  text-align: center;
  position: absolute;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest .wrapper {
  height: 70%;
  width: 94%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 23%;
  left: 4%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest .wrapper .interest-list {
  padding-right: 10%;
  left: 10%;
  position: absolute;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary {
  height: 100%;
  width: 100%;
  position: relative;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary .window-background-img {
  width: 100%;
  height: 100%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary .aboutme-skills-subheader.summary {
  font-size: 120%;
  color: var(--primary-color);
  top: 12%;
  width: 100%;
  text-align: center;
  position: absolute;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary .wrapper {
  height: 70%;
  width: 94%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 23%;
  left: 4%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary .wrapper .aboutme-summary-p {
  left: 4%;
  position: absolute;
  width: 90%;
}

.aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary .wrapper .aboutme-summary-p .aboutme-summary-wordhype {
  color: var(--primary-color);
}

.aboutme-container .aboutme-content-conatiner .aboutme-right {
  position: relative;
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
  bottom: 5%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-foldericon {
  height: 70%;
  margin: auto;
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .folder-cap {
  font-size: 1.5vmin;
  font-weight: bold;
  margin: -10% auto 0 auto;
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-download-button {
  margin: auto 10% 0px 0px;
  background-color: white;
  border: 1px white solid;
  width: 90%;
  height: 12vh;
  height: calc(var(--vh, 1vh) * 12);
  color: black;
  font-family: Michroma;
  font-size: 1.5vw;
  letter-spacing: .15em;
  text-transform: uppercase;
  -webkit-box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5);
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-download-button a {
  color: black;
  text-decoration: none;
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-download-button:hover {
  background-color: var(--primary-color);
}

.aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-download-button:hover a {
  color: white;
}

@media only screen and (max-width: 1249px) {
  .aboutme-container {
    width: 100vw;
    background-position-x: 50%;
    background-position-y: 30%;
    background-size: calc(750px - 5vw);
    border-bottom: solid black 5px;
  }
  .aboutme-container .aboutme-header {
    font-size: 7.5vmin;
  }
  .aboutme-container .aboutme-content-conatiner {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: 90vh;
    height: calc(var(--vh, 1vh) * 90);
    -ms-grid-columns: 90vw;
        grid-template-columns: 90vw;
    -ms-grid-rows: 90% 10%;
        grid-template-rows: 90% 10%;
    grid-row-gap: 0;
    row-gap: 0;
    -webkit-column-gap: 0;
    grid-column-gap: 0;
    column-gap: 0;
    padding: 0;
    margin: 0;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left {
    -ms-grid-columns: 110%;
        grid-template-columns: 110%;
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin: auto;
    padding: 0;
    height: 100%;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills {
    display: none;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest {
    display: none;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary {
    /* height: calc(500px - 18.5vw); */
    width: 100%;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right {
    position: relative;
    bottom: calc(23.5px + 16vw);
    right: -45vw;
    width: 52vw;
    height: 22vh;
    height: calc(var(--vh, 1vh) * 22);
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(277px - 1vw);
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-foldericon {
    margin: 2vh -5vh 1vh auto;
    margin: calc(var(--vh, 1vh) * 2) -5vw calc(var(--vh, 1vh) * 1) auto;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .folder-cap {
    font-size: 2.5vmin;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-download-button {
    font-size: calc(10.69px + .8vw);
  }
}

@media only screen and (max-width: 500px) {
  .aboutme-container {
    background-size: 120%;
  }
  .aboutme-container .aboutme-header {
    margin: 5vh 1vw 1vh 1vw;
    font-size: 11vmin;
  }
  .aboutme-container .aboutme-content-conatiner {
    display: -ms-grid;
    display: grid;
    height: 80vh;
    -ms-grid-columns: 90vw;
        grid-template-columns: 90vw;
    -ms-grid-rows: 90% 10%;
        grid-template-rows: 90% 10%;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
    padding: 0px;
    margin: 0px;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left {
    -ms-grid-columns: 110%;
        grid-template-columns: 110%;
    -ms-grid-rows: 30% 70%;
        grid-template-rows: 30% 70%;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    margin: auto;
    padding: 0;
    height: 100%;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-skills {
    display: none;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-interest {
    display: none;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-left .aboutme-summary {
    font-size: calc(4px + 1.2vh + .05vw);
    width: 100%;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right {
    position: relative;
    bottom: calc(85.5px + 16vh);
    right: -45vw;
    width: 55vw;
    height: 39vh;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container {
    height: calc(220px - 15vw);
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .aboutme-folder-container .aboutme-foldericon {
    margin: auto auto 2vh auto;
    size: 50%;
  }
  .aboutme-container .aboutme-content-conatiner .aboutme-right .folder-cap {
    font-size: 2.5vmin;
  }
}
/*# sourceMappingURL=AboutMe.css.map */